.landing-page {
  width: 100vw;
  height: 100vh;
}

.landing-page__top,
.landing-page__bottom {
  position: absolute;
  width: 100vw;
  height: 50vh;
}

.landing-page__bottom {
  top: 50vh;
  background: green;
}

.landing-page__slide {
  height: 100%;
  background: url('../img/landing-slide-1.jpg');
  background-size: cover;
}

.landing-page__slide--two {
  background: url('../img/landing-slide-2.jpg');
  background-size: cover;
}

.landing-page__arrows {
  position: absolute;
  top: 50%;
  height: 110px;
  transform: translateY(-50%);
}

.landing-page__arrow {
  width: 100vw;
  padding: 15px 0;
  font-size: 28px;
  font-weight: 900;
   @include mdShadowLevel(3);
}

.landing-page__arrow--left {
  position: absolute;
  left: 0;
  z-index: 10;
  text-align: right;
  padding-right: 30px;
  
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transform: translateX(-50px);
  background-color: $green;
  background-image: url('../img/left-arrow.png');
  background-repeat: no-repeat;
  background-size: 53px 38px;
  background-position: 100px 15px;
}

.landing-page__arrow--right {
  position: absolute;
  z-index: 5;
  padding-left: 30px;
  
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  transform: translate3d(50px, 55px, 0);
  background-color: $orange;
  background-image: url('../img/right-arrow.png');
  background-repeat: no-repeat;
  background-size: 53px 38px;
  background-position: 280px 15px;
}