
@import 'base/normalize';
@import 'base/base';

@import 'tools/mediaqueries';
@import 'tools/mixins';

// @import "fontawesome/font-awesome";
@import url('https://fonts.googleapis.com/css?family=Lato');

$white: #fff;
$black: #000;
$dark-grey: #757776;
$light-grey: #c6cac9;
$light-green: #edffea;
$green: #76bd57;
$dark-green: #466841;
$orange: #fa7c27;

@import 'tinderstyle';
@import 'cards';
@import 'splash';
@import 'landing-page';
@import 'match';
@import 'messages';
@import 'profile';

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $green;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  line-height: 1.25;
  background: $green;
  color: $white;
}
input{
  font-family: 'Lato', sans-serif;
}
h1,
h2 {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  width: 100vw;
  background-color: $green;
  overflow: hidden;
}

.header {
  padding: 25px 100px 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 20vh;
  max-height: 115px;
  background-image: url('../img/header.jpg');
  background-position: 50% 50%;
  background-size: cover;
  z-index: 200;
  img{
    max-width: 100%;
    height: auto;  
  }
}

.search {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 50px;
}

.search__input {
  width: 60vw;
  padding: 10px 0 10px 40px;
  font-size: 20px;
  color: $white;
  background: $green;
  border-bottom: solid 3px $white;
  border-left: none;
  border-top: none;
  border-right: none;
  background: url('../img/search.png') no-repeat;
  background-size: 20px 20px;
  background-position: 10px 12px;
}

.search__input::placeholder {
  color: $white;
  opacity: 0.8;
}

.search__input:focus {
  outline: none;
}


@import 'stack';
@import 'recipestats';
@import 'eating';
@import 'discuss';