
@import 'base/normalize';
@import 'base/base';

@import 'tools/mediaqueries';
@import 'tools/mixins';
@import 'tinderstyle';
// @import "fontawesome/font-awesome";
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$white: #fff;
$black: #000;
$dark-grey: #757776;
$light-grey: #c6cac9;
$green: #76bd57;
$orange: #fa7c27;

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  line-height: 1.25;
  background: $green;
  color: $white;
}

h1 {
  margin: 0;
  // font-size: 2em;
  // line-height: 1.2;
  // @include fluid-type(600/16 * 1rem, 1080 / 16 * 1rem, 32/16 * 1rem, 64/16 * 1rem);
}

h2 {
  margin: 0;
  padding: 0;
}
@import 'cards';